@font-face {
    font-family: 'Argentum-Sans-Black-Italic';
    src: url('fonts/Argentum-Sans-Black-Italic.ttf.woff') format('woff'), url('fonts/Argentum-Sans-Black-Italic.ttf.svg#Argentum-Sans-Black-Italic') format('svg'), url('fonts/Argentum-Sans-Black-Italic.ttf.eot'), url('fonts/Argentum-Sans-Black-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: auto;
    max-width: 1000px;
}

/* none nav border */
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(./img/Artboard_17-512.png);
    height: 20px;
}

/* style lety */
body nav a .argentum {
    font-family: 'Argentum-Sans-Black-Italic';
}

body > nav > a > h1 {
    font-size: 1.2em;
    margin-bottom: 0px;
}

body > nav > a > h1 > span {
    color: #FBD31B;
}

#navbarNav > ul > li > a {
    font-family: 'Montserrat-Regular';
}

/* carousel */
.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

/* products */
body > section > h3 {
    font-family: 'Montserrat-Regular';
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

body > section > div .card {
    border: none;
    width: 18rem;
}

body > section > div > div > div {
    padding: 10px 5px 0px px !important;
}

body > section > div > div > div > p.card-text {
    font-family: 'Montserrat-Regular';
    font-size: 0.86rem;
}

body > section > div > div > div > p {
    color: #282D32;
}

/* footer */
footer {
    background: #282D32;
}

body > footer > div:nth-child(1) > h1 {
    padding-top: 10px;
}

body > footer > div:nth-child(2) > ul {
    padding-left: 0px;
}

footer div:nth-child(2) ul li {
    color: #FFFFFF;
    list-style-type: none;
    text-align: center;
}

body > footer > div:nth-child(2) > ul > li:nth-child(1) {
    font-size: 1.5em;
    padding-bottom: 7px;
}

footer div:nth-child(1) .argentum-foo {
    font-family: 'Argentum-Sans-Black-Italic';
    color: white;
    font-size: 2em;
    text-align: center;
}

footer div:nth-child(1) .argentum-foo span {
    color: #FBD31B;
}

footer > div:nth-child(3) > p {
    color: #FFFFFF;
    text-align: center;
    font-size: 0.8em;
}

footer > div:nth-child(3) > p > img {
    padding-bottom: 4px;
    width: 13px;
}
